<div class="social-section" id="Contact">
    <ul>
      <li>
        <a href="https://www.facebook.com/profile.php?id=100010599646509" target="_blank"
          ><i
            class="fa-brands fa-square-facebook"
            style="color: #073c97"
          ></i
        ></a>
      </li>
      <li>
        <a href="" target="_blank"
          ><i class="fa-brands fa-github" style="color: #000000"></i
        ></a>
      </li>
      <li>
        <a href="" target="_blank"
          ><i class="fa-brands fa-google" style="color: #c00202"></i
        ></a>
      </li>
      <li>
        <a href="https://www.instagram.com/_____ab_hi_sh_ek_____/" target="_blank"
          ><i class="fa-brands fa-instagram" style="color: #ff2e2e"></i
        ></a>
      </li>
    </ul>
  </div>

  <link rel="stylesheet" href="/css/contact.css">