<p class="heading" >Popular meal's
  from different countries only for you</p>
<div class="country-section">
    <div class="country-list">
      <a href="/searchMeal/Result?type=country&&name=indian" class="country-list-item">
        <p class="country-Name">Indian</p>
        <p class="place">123 Places</p>
      </a>
      <a href="/searchMeal/Result?type=country&&name=italian" class="country-list-item">
        <p class="country-Name">italian</p>
        <p class="place">223 Places</p>
      </a>

      <a href="/searchMeal/Result?type=country&&name=Canadian" class="country-list-item">
        <p class="country-Name">Canadian</p>
        <p class="place">133 Places</p>
      </a>

      <a href="/searchMeal/Result?type=country&&name=american" class="country-list-item">
        <p class="country-Name">american</p>
        <p class="place">123 Places</p>
      </a>
      <a href="/searchMeal/Result?type=country&&name=british" class="country-list-item">
        <p class="country-Name">british</p>
        <p class="place">323 Places</p>
      </a>

      <a href="/searchMeal/Result?type=country&&name=Chinese" class="country-list-item">
        <p class="country-Name">China</p>
        <p class="place">237Places</p>
      </a>

      <a href="/searchMeal/Result?type=country&&name=french" class="country-list-item">
        <p class="country-Name">french</p>
        <p class="place">193 Places</p>
      </a>

      <a href="/searchMeal/Result?type=country&&name=spanish" class="country-list-item">
        <p class="country-Name">spanish</p>
        <p class="place">152 Places</p>
      </a>
      <a href="/searchMeal/Result?type=country&&name=japanese" class="country-list-item">
        <p class="country-Name">japanese</p>
        <p class="place">182 Places</p>
      </a>
      
    </div>
  </div>

  <link rel="stylesheet" href="/css/mealByCountry.css">