<div id="MealCatagories">
    <p class="MealType para" >Beef</p>
    <p class="MealType para" >Chicken</p>
    <p class="MealType para" >Dessert</p>
    <p class="MealType para" >Lamb</p>
    <p class="MealType para" >Miscellaneous</p>
    <p class="MealType para" >Pasta</p>
    <p class="MealType para" >Pork</p>
    <p class="MealType para" >SeaFood</p>
    <p class="MealType para" >Side</p>
    <p class="MealType para" >Starter</p>
    <p class="MealType para" >Vegan</p>
    <p class="MealType para" >Vegetarian</p>
    <p class="MealType para" >Breakfast</p>
    <p class="MealType para" >Goat</p>
    <div id="showMealCategory">
      <div class="MealCategoryHeader"><i class="fa-solid fa-angle-left closeMealCategory" style="color: #f0f0f0;"></i></div>
      <div class="categoryMealContainer"></div>
    </div>
  </div>

  <link rel="stylesheet" href="/css/MealCategory.css">