<!-- Search Meals -->
<div id="searchMeal-Section">
  <label for="searchBox"></label>
  <input
    type="text"
    name="search"
    id="searchBox"
    placeholder="Search for restaurant, cuisine or a dish "
  />
  <a href="/searchMeal/Result?type=name&&name=" id="search-button" style="display: inline-block;">
    <i class="fa-solid fa-magnifying-glass"></i>
  </a>
  <div class="suggestion-container">
    <!-- Added Using js -->
  </div>
</div>



<link rel="stylesheet" href="/css/searchbox.css">
<script src="/js/searchBox.js"></script>
<script
      src="https://kit.fontawesome.com/7d68f54f88.js"
      crossorigin="anonymous"
    ></script>   