<h2 class="relatedMealHeading">Search More Meal</h2>
<div class="RelatedMealContainer">
    <div id="MealCatagories">
        <p value="Pork" class="MealType selectedMeal">Pork</p>
        <p value="Beef" class="MealType">Beef</p>
        <p value="Chicken" class="MealType">Chicken</p>
        <p value="Dessert" class="MealType">Dessert</p>
        <p value="Lamb" class="MealType">Lamb</p>
        <p value="Miscellaneous" class="MealType">Miscellaneous</p>
        <p value="Pasta" class="MealType">Pasta</p>
        <p value="SeaFood" class="MealType">SeaFood</p>
        <p value="Side" class="MealType">Side</p>
        <p value="Starter" class="MealType">Starter</p>
        <p value="Vegan" class="MealType">Vegan</p>
        <p value="Vegetarian" class="MealType">Vegetarian</p>
        <p value="Breakfast" class="MealType">Breakfast</p>
        <p value="Goat" class="MealType">Goat</p>
    </div>
    <div id="showMealCategory">
        
    </div>
</div>
<link rel="stylesheet" href="/css/relatedMeal.css">
<script src="/js/relatedMeal.js"></script>